@import url("https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  --Gray-50: hsl(0, 0%, 98%);
  --White: hsl(0, 0%, 100%);
  --White-shadow: hsl(0, 0%, 93%);
  --Gray-500: hsl(0, 0%, 41%);
  --Gray-950: hsl(0, 0%, 8%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 18px;
  font-family: "Epilogue", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  background-color: var(--Gray-50);
  position: relative;
}

body::after {
  content: "";
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s;
}

body.overlay-active::after {
  opacity: 1;
}

.mobile-menu,
.mobile-menu__list,
.mobile-menu__item,
.mobile-menu__submenu,
.desktop-menu__submenu,
.hero,
.hero__content {
  display: flex;
  flex-direction: column;
}

.mobile-menu {
  position: absolute;
  background-color: var(--Gray-50);
  width: 65%;
  height: 100vh;
  right: 0;
  padding: 15px;
  z-index: 2;
}

.mobile-menu__close {
  align-self: flex-end;
  width: 20px;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.mobile-menu__list {
  gap: 20px;
  list-style: none;
  padding-top: 40px;
}

.mobile-menu__item {
  font-size: 0.8rem;
  color: var(--Gray-500);
  position: relative;
}

.mobile-menu__login {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
  font-size: 0.8rem;
  color: var(--Gray-500);
}

.mobile-menu__toggle {
  display: flex;
  gap: 10px;
  align-items: center;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

.mobile-menu__list a {
  font-size: 0.8rem;
}

.mobile-menu__toggle:focus {
  outline: none;
}

.mobile-menu__toggle-icon {
  width: 10px;
  height: 5px;
}

.mobile-menu__submenu {
  padding-top: 15px;
  list-style: none;
  gap: 10px;
}

.mobile-menu__submenu li {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 20px;
  padding-left: 30px;
}

.mobile-menu__submenu img {
  width: 18px;
  height: 18px;
}

.mobile-menu a {
  color: var(--Gray-500);
  text-decoration: none;
}

.mobile-menu__login button {
  width: 150px;
  height: 30px;
  border: 1px solid var(--Gray-500);
  background-color: var(--Gray-50);
  border-radius: 10px;
  color: var(--Gray-500);
}

.desktop__nav {
  width: 100%;
  display: flex;
  padding: 60px;
  align-items: center;
  display: none;
}

.desktop__main-menu {
  display: flex;
  width: 50%;
  align-items: center;
  gap: 80px;
}

.desktop__main-menu ul {
  display: flex;
  list-style: none;
  gap: 20px;
}

.desktop-menu__toggle {
  display: flex;
  align-items: center;
  gap: 5px;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  font: inherit;
  color: inherit;
  cursor: pointer;
}

.desktop-menu__toggle:focus {
  outline: none;
}

.desktop-menu__toggle-icon {
  width: 10px;
  height: 5px;
  position: relative;
}

.desktop__login {
  width: 50%;
  display: flex;
  list-style: none;
  gap: 20px;
  justify-content: right;
  align-items: center;
}

.desktop__main-menu ul li,
.desktop__main-menu ul a,
.desktop__login li,
.desktop__login a,
.desktop-menu__toggle {
  color: var(--Gray-500);
  text-decoration: none;
  font-size: 0.8rem;
}

.desktop__main-menu a:hover,
.desktop__main-menu a:focus,
.desktop-menu__toggle:hover,
.desktop-menu__toggle:focus {
  outline: none;
  color: var(--Gray-950);
  transition: all 400ms ease;
  cursor: pointer;
}

.desktop__login button {
  width: 100px;
  height: 40px;
  border: 1px solid var(--Gray-500);
  background-color: var(--Gray-50);
  border-radius: 10px;
  color: var(--Gray-500);
}

.desktop__login li a:hover,
.desktop__login li a:focus {
  color: var(--Gray-950);
  outline: none;
  transition: all 300ms ease;
}

.desktop__login button:hover,
.desktop__login button:focus {
  color: var(--Gray-950);
  border-color: var(--Gray-950);
  transition: all 400ms ease;
  cursor: pointer;
}

.container {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  min-height: 100vh;
}

.header,
.header__nav {
  display: flex;
  width: 100%;
  height: 70px;
}

.header__nav {
  padding: 15px;
  padding-top: 20px;
  justify-content: space-between;
}

.header__logo {
  width: 70px;
  height: 30px;
}

.header__menu-toggle {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  width: 30px;
  height: 20px;
}

.header__menu-toggle img {
  width: 100%;
  height: 100%;
}

.desktop-menu__submenu {
  width: 160px;
  height: 180px;
  justify-content: center;
  position: absolute;
  top: 80px;
  left: 140px;
  background-color: var(--White);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px 10px var(--White-shadow);
}

.desktop-menu__submenu--company {
  left: 310px;
}

.desktop-menu__submenu li {
  display: flex;
  align-items: center;
  gap: 10px;
}

.hero,
.hero__content {
  gap: 20px;
}

.hero {
  width: 100%;
  gap: 20px;
  margin-bottom: 50px;
  max-width: 1000px;
  margin: 0 auto;
  align-items: center;
}

.hero__content {
  padding: 10px;
  text-align: center;
  align-items: center;
  max-width: 400px;
}

.hero__image {
  width: 100%;
  height: 250px;
  background-image: url(./images/image-hero-mobile.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.hero__title {
  color: var(--Gray-950);
  font-size: 1.7rem;
  margin-top: 10px;
}

.hero__description {
  color: var(--Gray-500);
  font-size: 0.8rem;
  line-height: 20px;
  max-width: 400px;
}

.hero__button {
  width: 120px;
  height: 40px;
  border: 1px solid var(--Gray-500);
  background-color: var(--Gray-950);
  color: var(--Gray-50);
  border-radius: 10px;
  margin-bottom: 20px;
  font-weight: bold;
}

.hero__button:hover,
.hero__button:focus {
  background-color: var(--Gray-50);
  color: var(--Gray-950);
  outline: none;
  transition: all 300ms ease;
}

.hero__clients {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
}

.hero__clients img {
  width: 60px;
  height: 20px;
}

.hidden {
  display: none !important;
}

@media (min-width: 321px) {
  .hero__image {
    height: 300px;
  }
}

@media (min-width: 376px) {
  .hero__image {
    height: 350px;
  }
}

@media (min-width: 426px) {
  .hero__image {
    height: 400px;
    background-size: contain;
  }
}

@media (min-width: 700px) {
  .hero__image {
    height: 450px;
    background-image: url(./images/image-hero-desktop.png);
    background-size: contain;
  }

  .hero {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 50px;
  }

  .hero__content {
    order: 1;
    width: 50%;
    text-align: left;
    align-items: flex-start;
    gap: 40px;
    padding-top: 100px;
  }

  .hero__image {
    max-width: 400px;
  }

  .hero__title {
    font-size: 3.2rem;
  }

  .hero__image {
    order: 2;
    width: 50%;
  }
}

@media (min-width: 769px) {
  .container {
    max-width: 100%;
  }

  .header__nav {
    display: none;
  }

  .desktop__nav {
    display: flex;
  }
}

@media (min-width: 855px) {
  .hero__content {
    padding-top: 150px;
  }
}

@media (min-width: 1024px) {
  .hero__image {
    height: 550px;
    background-image: url(./images/image-hero-desktop.png);
    background-size: 100%;
    background-position: top;
  }

  .hero {
    margin-top: 50px;
  }

  .hero__content {
    gap: 45px;
  }

  .hero__button {
    margin-bottom: 50px;
  }
}
